{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Deletar Voluntário</title>
    <link rel="stylesheet" href="{% static 'pessoas/css/style.css' %}">
</head>
<body>
    <h1>Deletar Voluntário</h1>
    <p>Você tem certeza que deseja deletar <strong>{{ voluntario.nome_completo }}</strong>?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirmar</button>
        <a href="{% url 'lista_voluntarios' %}">Cancelar</a>
    </form>
</body>
</html>