body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background: #f9fafb;
    color: #1d1aba;
}

/* -------- TÍTULOS -------- */
.lista-eventos h1 {
    color: #07578c;
    margin-bottom: 20px;
}

.lista-participacoes h1 {
    color: #07578c;
    margin-bottom: 20px;
}

/* -------- LISTA DE EVENTOS -------- */
.lista-eventos {
    list-style: none;
    padding: 0;
}

.lista-eventos li {
    background: #00eeff;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 6px;
    border-left: 5px solid #1d1aba;
}

/* -------- LISTA DE PARTICIPAÇÕES -------- */
.lista-participacoes {
    list-style: none;
    padding: 0;
}

.lista-participacoes li {
    background: #00eeff;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 6px;
    border-left: 5px solid #1d1aba;
}

/* -------- BOTÕES -------- */
a.btn {
    margin-left: 10px;
    padding: 4px 8px;
    text-decoration: none;
    color: white;
    background: #1d1aba;
    border-radius: 4px;
    font-size: 14px;
}

a.btn:hover {
    background: #1d1aba;
}

a.btn-danger {
    background: #820000;
}

a.btn-danger:hover {
    background: #820000;
}
