body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background: #f9fafb;
    color: #07578c;
}

.btn {
    background: #07578c;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #07476e;
}


h1 {
    color: #07578c;
}

h1 a {
    color: inherit;       /* mantém a cor do h1 */
    text-decoration: none; /* remove sublinhado */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #07578c;
    font-weight: bold;
}

a:hover {
    color: #07476e;
}
